@model IEnumerable<Task4Start.Models.StaffDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Staff List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.staffCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.staffCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fullName)
        </td>
        <td>
            @Html.ActionLink("View Skills", "Skills" , new { id=item.staffCode }) 
        </td>
    </tr>
}

</table>
